*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  form{
    width: 50%;
    margin: 60px auto;
  }
  input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #d7d3ce;
    border-radius: 10px 10px;
    font-size: 20px;
  }
  button {
    margin: 20px 40%;
  }

  .red {
    color: #ff0000;
    outline-color:#ff0000;
    border-bottom: 2px solid #ff0000;
  }
  .grin {
    outline-color:#208d07;
    color: #208d07;
  }